version: '3'
services:
  fiks-protokoll-validator-sqlexpress:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "Dev#FiksProtokollValidator1234"
      ACCEPT_EULA: "Y"
    ports:
      - "127.0.0.1:1433:1433"
      - "127.0.0.1:1434:1434/udp"
  fiks-protokoll-validator-api:
    image: fiks-protokoll-validator-api
    environment:
      ASPNETCORE_URLS: "http://*:64558"
      ASPNETCORE_ENVIRONMENT: "LocalDev"
      ENVIRONMENT: "docker-compose-local-dev"
      fiks-protokoll-validator_ConnectionStrings__DefaultConnection: "Data Source=fiks-protokoll-validator-sqlexpress;Initial Catalog=fiks-protokoll-validator;User Id=SA;Password=Dev#FiksProtokollValidator1234"
      #fiks-protokoll-validator_ConnectionStrings__DefaultConnectionUserId: "SA"
      #fiks-protokoll-validator_ConnectionStrings__DefaultConnectionPassword: "Dev#FiksProtokollValidator1234"
    ports:
      - "127.0.0.1:64558:64558"
      - "127.0.0.1:44303:44303"
  oidc-mock:
    image: docker-all.artifactory.fiks.ks.no/oidc-provider-mock:1.0.2
    ports:
      - "127.0.0.1:8080:8080"
  rabbitmq:
    image: rabbitmq:3.7.13-management
    volumes:
      - /Users/jarle/KS/Repositories/gi-arkiv-2.0-validator/local/rabbitmq:/etc/rabbitmq
    ports:
      - "127.0.0.1:4369:4369"
      - "127.0.0.1:5671:5671"
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15671:15671"
      - "127.0.0.1:15672:15672"
      - "127.0.0.1:25672:25672"
    expose:
      - 5671
      - 5672
      - 15672

  fiks-io-authorization-service:
    image: rodolpheche/wiremock
    volumes:
      - ./local/fiks-io-authorization-service-mock:/home/wiremock/mappings
    command: java -cp /var/wiremock/lib/*:/var/wiremock/extensions/* com.github.tomakehurst.wiremock.standalone.WireMockServerRunner --global-response-templating
